In [1]:
%matplotlib inline

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

# Introduction to ML

### Metadata

In [9]:
metadata_features = pd.read_excel("titanic_metadata.xlsx", sheet_name="features")
metadata_features

   original_name                                        description
0    PassengerId                                                NaN
1       Survived                                    0 = No, 1 = Yes
2         Pclass                          1 = 1st, 2 = 2nd, 3 = 3rd
3           Name                                                NaN
4            Sex                                                NaN
5            Age                                       Age in years
6          SibSp       \t# of siblings / spouses aboard the Titanic
7          Parch         # of parents / children aboard the Titanic
8         Ticket                                      Ticket number
9           Fare                                     Passenger fare
10         Cabin                                       Cabin number
11      Embarked  Port of Embarkation. C = Cherbourg, Q = Queens...

### Scrub

In [79]:
titanic = pd.read_csv("titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [80]:
[print(f"\"{x}\",") for x in list(titanic.columns)]

"PassengerId",
"Survived",
"Pclass",
"Name",
"Sex",
"Age",
"SibSp",
"Parch",
"Ticket",
"Fare",
"Cabin",
"Embarked",

[None, None, None, None, None, None, None, None, None, None, None, None]

In [81]:
titanic = titanic[[
    # "PassengerId",
    "Survived",
    "Pclass",
    # "Name",
    "Sex",
    "Age",
    "SibSp",
    "Parch",
    # "Ticket",
    # "Fare",
    # "Cabin",
    "Embarked",
]]

In [82]:
titanic.columns = ["survived", "pclass", "sex", "age", "sibsp", "parch", "embarked"]

In [83]:
titanic.age = titanic.age.fillna(titanic.age.mean())

In [84]:
titanic = titanic.dropna()

### Model

In [85]:
titanic_features = titanic.drop(columns = "survived")
titanic_target = titanic.survived

In [86]:
dummies= pd.get_dummies(titanic_features[["pclass", "sex", "embarked"]])
titanic_features = titanic_features.drop(columns = ["pclass", "sex", "embarked"])
titanic_features = pd.merge(titanic_features, dummies, left_index=True, right_index=True)

In [87]:
model = LogisticRegression()

In [88]:
model.fit(titanic_features, titanic_target)

C:\Users\a1056968\Anaconda3\envs\data-science\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [89]:
model.predict(titanic)

C:\Users\a1056968\Anaconda3\envs\data-science\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- embarked
- sex
- survived
Feature names seen at fit time, yet now missing:
- embarked_C
- embarked_Q
- embarked_S
- sex_female
- sex_male

  warnings.warn(message, FutureWarning)

ValueError: could not convert string to float: 'male'